<div class="content-wrapper">
  <!-- 현 페이지의 주제, path -->
  <section class="content-header">
    <h1>
      메로나파티를 하자
      <small>올때메로나</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">검색어를 입력하세요</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <!-- 컬럼의 총합은 12, 구분은 col-lg-수치 -->
      <div class="col-lg-12 col-xs-12">
        <!-- small box -->
        <div class="small-box bg-aqua">
          <form>
            <input style="color: black" type="text" name="keyword" placeholder="찾고싶은 상품" />

            <input style="color: rgb(255, 0, 136)" type="submit" value="뀨우!" >
            <div id = 'results' ></div>
          </form> 
        </div> 
      </div> 
    </div> 
    <div class="row">
        <% for(row of rows){  %>
        <!-- 데이터1개당 아래 코드가 반복된다 -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <% if(row.cate != '금융' ){ %>
            <div class="small-box bg-lime">
                <% }else { %>
              <div class="small-box bg-orange">
                  <% }  %>
                  <!-- <div class="small-box <%= row.cate != '금융' ? 'bg-aqua' : 'bg-yellow' %>"> -->
              <div class="inner">
                <h3><%= row.cate %></h3>
                <p><%= row.name %></p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer"><%= row.hash %> <i class="fa fa-arrow-circle-right"></i></a>
            
          </div>
          </div>
        <% }  %>
      </div> 
  </section> 
</div>