<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div>
            <h2>Rest API를 이용한 전자지갑</h2>
        </div>
    </body>
</html>